:root {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  --blue: #2563eb;
  --deep-blue: #1949cc;
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  color: #202d4b;
  user-select: none;
  background-color: rgb(214, 232, 255);
}

button {
  background-color: var(--blue);
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  cursor: pointer;
  gap: 0.5rem;
}

button:hover {
  background-color: var(--deep-blue);
}

button.playing {
  background-color: var(--deep-blue);
}

span {
  font-weight: 1000;
  margin-right: 1rem;
  display: inline-block;
}

hr {
  color: #ddd;
}

footer {
  color: #888;
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
}

footer a {
  color: var(--blue);
  text-decoration: underline;
  font-weight: 500;
}

footer a:hover {
  color: var(--deep-blue);
  text-decoration: none;
}