:root {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  --very-light-blue: #e2eeff;
  --blue: #2563eb;
  --deep-blue: #1949cc;
  --black-blue: #202d4b;
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  max-width: 840px;
  color: var(--black-blue);
  user-select: none;
  background-color: var(--very-light-blue);
  line-height: 2rem;
  margin: 0 auto;
}

.audio-btn {
  background-color: var(--blue);
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  gap: 0.5rem;
}

.audio-btn:hover {
  background-color: var(--deep-blue);
}

.audio-btn.playing {
  background-color: var(--deep-blue);
}

.lesson {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.lesson-title {
  flex: 0 0 auto;
  font-weight: 1000;
  margin-bottom: 1rem;
}

.fa-headphones {
  margin-right: 0.5rem;
}

footer {
  color: #888;
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
}

footer a {
  color: var(--blue);
  text-decoration: underline;
  font-weight: 500;
}

footer a:hover {
  color: var(--deep-blue);
  text-decoration: none;
}